 .m div
    {
        width:100%;
        height:70%;
    }

    img
    {
        height:400px;
        width:600px;
        position:relative;
    }

    .n div
    {
        width:100%;
        height:10%;
    }
